
<h2 mat-dialog-title>{{this.modalModel.title}}</h2>
<mat-dialog-content>
  <mat-divider>
    {{this.modalModel.description}}
  </mat-divider>
  <mat-form-field>
    <mat-label>{{this.modalModel.inputNameTitle}}</mat-label>
    <input matInput [(ngModel)]="this.modalModel.component.name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{this.modalModel.inputUrlTitle}}</mat-label>
    <input matInput [(ngModel)]="this.modalModel.component.url" />
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="this.modalModel.selectedDropDownValue" placeholder="Select option" (selectionChange)="this.ResetImageInput(this.modalModel)">
      <mat-option [value]="1">{{ this.modalModel.dropDownTitleOne }}</mat-option>
      <mat-option [value]="2">{{ this.modalModel.dropDownTitleTwo }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field [hidden]="this.modalModel.selectedDropDownValue != 1">
    <input matInput placeholder="Icon" type="file" id="formFile" #fileInput (change)="this.OnFileUpload($event)"/>
  </mat-form-field>
  <mat-form-field [hidden]="this.modalModel.selectedDropDownValue != 2">
    <mat-label>{{this.modalModel.linkToImageTitle}}</mat-label>
    <input matInput [(ngModel)]="this.modalModel.component.iconUrl" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" (click)="this.modalService.Cancel()" class="btn btn-danger cancelButton">{{this.modalModel.closeBtnTitle}}</button>
  <button mat-button [ngClass]="{'enabled-save-button': modalService.canSubmit}" [disabled]="!modalService.CanSubmit(modalModel)" [mat-dialog-close]="true" (click)="this.Submit(this.modalModel)" class="btn btn-success">{{this.modalModel.acceptBtnTitle}}</button>
</mat-dialog-actions>

