@if (component$ | async; as component) {
 <div class="row h-10">
  @if (inEditMode)
  {
      <div class="col">
        <button type="button" 
        (click)="openEditDialog()" 
        class="btn edit-button start-50" style="margin-left: 0.5em;">
          <i class="bi bi-pencil-square" ></i>
        </button>
      </div>
      <div class="col">
        <button
          cdkDragHandle
          class="btn edit-button" style="margin-left: 0.5em;">
          <i class="bi bi-arrows-move"></i>
        </button>
      </div>
      <div class="col d-flex justify-content-end">
        <button
        (click)="openDeleteDialog()" 
          class="btn edit-button">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="col d-flex justify-content-end">
        <button
        makeResizable
        [canResize]="inEditMode"
        [targetId]="component.id"
        type="button"
        class="btn edit-button resize-button">
        <i class="bi bi-arrows-angle-expand"></i>
      </button>
      </div>

  }
</div>
      <a class="d-flex flex-column text-decoration-none justify-content-center text-white-50 h-75 text-center pt-2">
        <span>
          <mat-icon class="component-mat-icon-size">
            {{component?.iconData?.materialIcon}}
          </mat-icon>
        </span>
        <p>{{component?.id}}</p>
        <h5 class="fw-bold">{{TextStringsUtil.EmptyWidgetTitle}}</h5>
        <p [hidden]="component?.componentSettings?.titleHidden" class="text-center" >{{component?.name}}</p>
      </a>
  <edit-widget-modal 
    [open]="isEditModalOpen"
    [modalId]="component.id"
    [id]="component.id"
    (editedComponent)="edit()"
    (openChange)="handleModalChange($event)">
  </edit-widget-modal>
  <prompt-modal
    [open]="isDeleteModalOpen"
    [modalId]="component.id"
    [id]="component.id"
    (delete)="remove()"
    (openChange)="handleModalChange($event)">
  </prompt-modal>
}