@if (CurrentComponentId === id){
  <div class="row h-10">
  @if( componentService.InEditMode)
  {
      <div class="col">
        <button type="button" 
        (click)="componentService.ToggleOpenEditWidget(CurrentComponentId)" 
        class="btn edit-button start-50" style="margin-left: 0.5em;">
          <i class="bi bi-pencil-square" ></i>
        </button>
      </div>
      <div class="col">
        <button
          cdkDragHandle
          class="btn edit-button" style="margin-left: 0.5em;">
          <i class="bi bi-arrows-move"></i>
        </button>
      </div>
      <div class="col d-flex justify-content-end">
        <button
          (click)="modalService.ToggleDeleteModal(CurrentComponentId)"
          class="btn edit-button">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
  }
</div>

<!-- Item content -->
  @if (componentService.ComponentHasBaseData){
      <a [style]="componentService.InEditMode ? 'cursor:none;':'cursor:auto;'" [href]="componentService.InEditMode ? null : componentService.Component.url" class="d-flex flex-column text-decoration-none justify-content-center text-white-50 h-75" target="_blank">
        @if(componentService.IconUrlSet(componentService.Component)){
          <img [src]="componentService.Component.iconUrl" class="p-3 icon-size item-icon-center" alt="{{TextStringsUtil.GridComponentIconNotFoundMessage}}">
        }
        @if(componentService.IconDataSet(componentService.Component)){
          <img [src]="IconFilePath(componentService.Component)" class="p-3 icon-size item-icon-center" alt="{{TextStringsUtil.GridComponentIconNotFoundMessage}}">
        }
        <p>{{componentService.Component.id}}</p>
        <p [hidden]="componentService.Component.componentSettings?.titleHidden" class="text-center" >{{componentService.Component.name}}</p>
      </a>
  }
  @else
  {
      <a class="d-flex flex-column text-decoration-none justify-content-center text-white-50 h-75 text-center pt-2">
        <span><i class="bi bi-box"></i></span>
        <p>{{componentService.Component.id}}</p>
        <h5 class="fw-bold">{{TextStringsUtil.EmptyWidgetTitle}}</h5>
        <p class="small-text">{{TextStringsUtil.EmptyWidgetDescription}}</p>
      </a>
  }
  <div class="d-flex justify-content-end">
    <!--<button
      [hidden]="!componentService.InEditMode"
      (click)="componentService.ResizeModeActive"
      class="btn edit-button start-0" style="margin-left: 0.5em;">
      <i class="bi bi-arrows-angle-expand"></i>
    </button>-->
  </div>
  <edit-widget-modal
  [id]="CurrentComponentId"
  [modalId]="this.componentService.ModalId"
  [open]="componentService.OpenEdit"
  (openChange)="componentService.OpenEdit"
  (select)="handleSelect($event)">
  </edit-widget-modal>
  <prompt-modal
  [id]="CurrentComponentId"
  [modalId]="this.modalService.ModalId"
  [open]="modalService.ShowModal"
  (openChange)="modalService.ShowModal"
  (select)="handleSelect($event)">
  </prompt-modal>
}
