
<h2 mat-dialog-title>{{this.viewModel.Title}}</h2>
<mat-dialog-content>
  <mat-divider>
    {{this.viewModel.Description}}
  </mat-divider>
  <mat-form-field appearance="fill" style="display: block; margin-bottom: 16px;">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="this.viewModel.Component.Name" />
  </mat-form-field>
  <mat-form-field appearance="fill" style="display: block;">
    <mat-label>http://127.0.0.1</mat-label>
    <input matInput [(ngModel)]="this.viewModel.Component.Url" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="Submit(this.viewModel.Type)">{{this.viewModel.AcceptBtnTitle}}</button>
  <button mat-button [mat-dialog-close]="true">{{this.viewModel.CloseBtnTitle}}</button>
</mat-dialog-actions>
