.grid-layout{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  gap: 1em;
  justify-content: center;
}

.grid-item-style {
  margin: 0.5em;
  background-color: #141517;
  border-bottom: 20px;
  border-radius: 10px;
  color: white;
}

.btn-dark{
  margin:5px;
}

.cdk-drag-animating {
  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}
