<div class="grid-layout" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="Drop($event)">
  <div *ngFor="let component of componentService.Components" makeResizable 
       [id]="component.id"
       class="shadow-sm grid-item-style" >
    <item-component [id]="component.id"></item-component>
    <edit-widget-dialog 
    [(open)]="open"
    (select)="handleSelect($event)">
    </edit-widget-dialog>
  </div>
</div>
<!-- 
        [canResize]="componentService.InResizeMode"

cdkDrag [cdkDragDisabled]="!componentService.InDragMode" 
-->