<div class="grid-layout" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="Drop($event)">
  <div *ngFor="let component of componentService.Components" makeResizable
       [canResize]="componentService.InResizeMode"
       cdkDrag [cdkDragDisabled]="!componentService.InDragMode" [id]="component.id"
       class="shadow-sm grid-item-style" >
    <item-component [id]="component.id"></item-component>
  </div>
</div>
<stickyFooter-component [hidden]="!componentService.InResizeMode || !componentService.InDragMode"></stickyFooter-component>
