.d-flex{
    background-color: #141517;
}
.flex-row-reverse{
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  font-size: 13px;
  padding-top: 20px;
}
