<div class="flex-wrap d-flex flex-row-reverse">

  <div class="dropdown">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="bi bi-plus"></i>
    </button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Add component
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group pb-2">
            <label class="form-label">App name</label>
            <input type="text" class="form-control" placeholder="App name" [(ngModel)]="Name" name="name">
          </div>
          <div class="form-group pb-2">
            <label class="form-label">Service Url</label>
            <input type="text" class="form-control" placeholder="Url" [(ngModel)]="Url" name="url">
          </div>
          <div class="form-group pb-2"><!--TODO: Hide when Upload icon checkbox is set-->
            <label class="form-label>">Link url</label>
            <input type="checkbox" />
          </div>
          <div class="form-group pb-2"><!--TODO: Hide when link url is set-->
            <label class="form-label>">Upload Icon</label>
            <input type="checkbox" />
          </div>
          <div class="form-group"><!--TODO: Hide when link url is set-->
            <label for="formFile" class="form-label">Upload Icon</label>
            <input class="form-control" type="file" id="formFile"/>
          </div>
          <div class="form-group"><!--TODO: Hide when Upload icon checkbox is set-->
            <label for="formUrl" class="form-label">Set url for icon</label>
            <input class="form-control" type="text" id="formUrl"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button [disabled]="!CanAddComponent" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="AddComponent()">Add</button>
      </div>
    </div>
  </div>
</div>
</div>

