<div class="d-flex gap-3 justify-content-end">
  <div class="d-flex m-2 flex-row">
    <div class="version-text text-white-50 m-2" *ngIf="versionService.Version.newRelease">
      <strong> {{StringUtil.NewVersionAvailableHeaderInfoText}}
        <a target="_blank" href="{{UrlStringsUtil.GitHubReleaseURL+versionService.Version.name}}">
          {{versionService.Version.name}}
        </a>
      </strong>
    </div>
    <div class="space">
        <mat-form-field>
          <mat-label><mat-icon>menu</mat-icon></mat-label>
          <mat-select hideSingleSelectionIndicator>
            <mat-option value="one" (click)="this.modalService.GetModalType(SetModalComponentFormData({type: FormType.Add}))"> {{ StringUtil.MenuDropDownAddTitle }}</mat-option>
            <mat-option value="two" (click)="this.componentService.SwitchEditMode()">{{ StringUtil.MenuDropDownEditTitle }}</mat-option>
            <mat-option value="three" (click)="this.componentService.SwitchDragMode()">{{ StringUtil.MenuDropDownDragTitle }}</mat-option>
            <mat-option value="Four" (click)="this.componentService.SwitchResizeMode()">{{ StringUtil.MenuDropDownResizeTitle }}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
  </div>
</div>
