<div class="d-flex gap-3 justify-content-end">
  <div class="d-flex m-2 flex-row">
    <div class="version-text text-white-50 m-2" *ngIf=" this.versionService.Version.newRelease">
      <strong> {{StringUtil.NewVersionAvailableHeaderInfoText}}
        <a target="_blank" href="{{UrlStringsUtil.GitHubReleaseURL+versionService.Version.name}}">
          {{versionService.Version.name}}
        </a>
      </strong>
    </div>
    <div>
        <div class="dropdown dropstart">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <mat-icon>menu</mat-icon>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" (click)="this.modalService.GetModalType(SetModalComponentFormData({type: FormType.Add}))">{{ StringUtil.MenuDropDownAddTitle }}</a></li>
            <li><a class="dropdown-item" href="#" (click)="this.componentService.SwitchEditMode()">{{ StringUtil.MenuDropDownEditTitle }}</a></li>
            <li><a class="dropdown-item" href="#" (click)="this.componentService.SwitchDragMode()">{{ StringUtil.MenuDropDownDragTitle }}</a></li>
            <!--<li><a class="dropdown-item" href="#" (click)="this.componentService.SwitchResizeMode()">{{ StringUtil.MenuDropDownResizeTitle }}</a></li>-->
          </ul>
        </div>
    </div>
  </div>
</div>
