.d-flex{
    /*background-color: #141517;*/
}
.flex-row-reverse{
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

:is(.version-text, .text-center) {
  font-size: 13px;
}

.space{
  padding-left: 20px;
}

.modal-dropdown-btn-theme{
  border:none;
  background: none;
}
