<header class="sticky-top bg-body border-bottom backdrop">
  <nav class="navbar navbar-expand-lg container py-2">
    <div class="d-flex align-items-center me-3" animate.enter="enter-animation">
      <div class="logo-box me-2">
        <i class="bi bi-columns text-white fs-5"></i>
      </div>
      <h1 class="h4 fw-bold gradient-text m-0">{{TextStringsUtil.ClientTitle}}</h1>
    </div>

    <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-controls="mainNavbar"
            [attr.aria-expanded]="showMenu">
    </button>

    <div class="navbar-collapse collapse justify-content-end" [class.show]="showMenu" id="mainNavbar" animate.enter="enter-animation">
      <ul class="navbar-nav align-items-lg-center gap-2 ms-lg-3"  >
        @if(componentService.InEditMode){
          <li class="nav-item">
            <button class="btn btn-outline-primary btn-sm d-flex align-items-center gap-1" (click)="open = true">
              <i class="bi bi-plus-lg me-1"></i>
              <span>{{TextStringsUtil.MenuAddWidgetButtonTitle}}</span>
            </button>
            <add-widget-modal
              [(open)]="open"
              [widgetOptions]="widgetOptions"
              (newComponent)="handleSubmit($event)">
            </add-widget-modal>
          </li>
           <li class="nav-item">
             <button class="btn btn-primary btn-sm d-flex align-items-center gap-1"
                     (click)="componentService.EditComponentsData(componentService.Components)">
               <i class="bi bi-save"></i>
               <span>Save</span>
             </button>
           </li>
        }

        <li class="nav-item">
          <button class="btn btn-sm d-flex align-items-center gap-1"
                  [ngClass]="componentService.InEditMode ? 'btn-primary' : 'btn-outline-secondary'"
                  (click)="componentService.ToggleEditMode()">
            <i class="bi bi-pencil"></i>
            <span>{{componentService.InEditMode ?
              TextStringsUtil.MenuExitEditButtonTitle :
              TextStringsUtil.MenuEditButtonTitle }}</span>
          </button>
        </li>

        <li class="nav-item">
          <button class="btn btn-dark btn-sm"><i class="bi bi-brightness-low"></i></button>
        </li>
      </ul>
    </div>
  </nav>
</header>
