.icon-size{
  max-height: 100px;
}

.component-icon-center{
  margin:auto;
}

.component-style{
  background-color: #141517;
  border-bottom: 20px;
  border-radius: 10px;
  color: white;
}

.component-resize-button{
  align-self: end;
  padding: 15px 25px;
  height: 60px;
}

.space-left{
  margin-left: 10px;
}
