<div class="d-flex gap-3 space-left" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="Drop($event)">
    <div *ngFor="let item of componentService.components" cdkDrag [cdkDragDisabled]="!componentService.dragMode"
         makeResizable [canResize]="resizableActive && componentService.component === item" [itemResizing]="item" [id]="item.id"
       class="d-flex m-2 flex-column shadow-sm component-style" >
      <div class="d-flex justify-content-end">
        <button [hidden]="!componentService.editMode" (click)="modalService.GetModalType(SetModalComponentFormData({type: FormType.Edit, component: item}))" class="btn btn-dark">...</button>
        <button (click)="modalService.GetModalType(SetModalComponentFormData({type: FormType.Delete, component: item}))" class="btn btn-dark"><i class="bi bi-x-lg"></i></button>
      </div>
        <a [style]="resizableActive ? 'cursor:none;':'cursor:auto;'" [href]="resizableActive ? null : item.url" class="d-flex flex-column text-decoration-none justify-content-center text-white-50 h-100" target="_blank">
          <img [hidden]="!HaveIconSet(item.iconData?.name) || item.imageHidden" [src]="IconFilePath(item.iconData?.name,item.iconData?.type)" class="p-1 icon-size component-icon-center" alt="icon not found">
          <img [hidden]="!HaveImagUrlSet(item.imageUrl) || item.imageHidden" [src]="item.imageUrl" class="p-1 icon-size component-icon-center" alt="icon not found">
          <p [hidden]="item.titleHidden" class="text-center" >{{item.name}}</p>
        </a>
        <span [hidden]="!componentService.resizeMode"  class="component-resize-button" (pointerdown)="ActivateResize(item)" (document:pointerup)="DisableResize(item)">
          <i class="bi bi-arrows-angle-expand"></i>
        </span>
  </div>
</div>
<div [hidden]="!componentService.resizeMode && !componentService.dragMode" class="sticky-bottom">
  <div class="container-fluid text-center">
    <div class="row justify-content-center mb-3">
      <div class="col-auto">
        <h5 [hidden]="!componentService.resizeMode">Resize components</h5>
        <h5 [hidden]="!componentService.dragMode">Move components position</h5>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <button mat-button matTooltip="Cancel changes done with drag and resize" class="cancelButton" (click)="componentService.DisableModes()">
          {{TextStringsUtil.StickCancelButtonTitle}}
        </button>
        <button mat-button matTooltip="Save changes done with drag and resize!" class="saveButton" (click)="componentService.EditComponents(componentService.components)">
          {{TextStringsUtil.StickSaveButtonTitle}}
        </button>
      </div>
    </div>
  </div>
</div>
