<div *ngIf="sharedService.isLoading">Loading components...</div>

<div *ngIf="!sharedService.isLoading" class="d-flex gap-3 space-left">
    <div *ngFor="let item of sharedService.flexItems"
      class="d-flex m-2 flex-column component-style shadow" makeResizable [canResize]="resizableActive && resizingItem === item" [itemResizing]="item" [id]="item.id">
      <div class="d-flex justify-content-end">
        <handle-component-modal
          [windowTitle]="modalTitle"
          [btnTheme]="modalButtonTheme"
          [btnIcon]="modalButtonIcon"
          [btnTitle]="modalTitle"
          [modalLabelId]="modelBindId"
          [modalBindDropdownId]="modalDropDownId"
          [editMode]="true"
          [component]="item"
          [acceptButton]="handleComponent.EditComponent">
        </handle-component-modal>
        <button data-bs-toggle="modal" [attr.data-bs-target]="'#DeleteModal_'+item.id" class="btn btn-modal"><i class="bi bi-x-lg"></i></button>
      </div>
        <a [style]="resizableActive ? 'cursor:none;':'cursor:auto;'" [href]="resizableActive ? null : item.url" class="d-flex flex-column text-decoration-none justify-content-center text-white-50 h-100" target="_blank">
          <img [hidden]="!HaveIconSet(item.iconData?.name) || item.imageHidden" [src]="IconFilePath(item.iconData?.name,item.iconData?.fileType)" class="p-1 icon-size component-icon-center" alt="icon not found">
          <img [hidden]="!HaveImagUrlSet(item.imageUrl) || item.imageHidden" [src]="item.imageUrl" class="p-1 icon-size component-icon-center" alt="icon not found">
          <p [hidden]="item.titleHidden" class="text-center" >{{item.name}}</p>
        </a>
        <span class="component-resize-button" (pointerdown)="ActivateResize(item)" (document:pointerup)="DisableResize()">
          <i class="bi bi-arrows-angle-expand"></i>
        </span>
      <div class="modal fade" [id]="'DeleteModal_'+item.id" tabindex="-1" [attr.aria-labelledby]="item.id" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" [id]="item.id">Warning</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="alert alert-warning" role="alert">
              You sure you want to delete the modal {{item.name}}?
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="Remove(item.id)">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
