<!--
<h2 mat-dialog-title>{{this.modalModel.title}}</h2>
<mat-dialog-content>
  <mat-header-row>
    <h5 class="modal-title text-center" [id]="this.modalModel.component.id">{</h5>
    <button mat-button [mat-dialog-close]="true">{{this.modalModel.closeBtnTitle}}</button>
  </mat-header-row>
    {{this.modalModel.description}} {{this.modalModel.component.name}}
</mat-dialog-content>
<mat-dialog-actions>
 
</mat-dialog-actions>
-->
<dialog #dlg class="ew-dialog" (click)="onBackdropClick($event)">
  <div class="ew-card" (click)="$event.stopPropagation()">
    <header class="ew-header">
      <h5 id="ew-title" class="m-0">{{this.TextStringsUtil.ModalDeleteComponentTitle}}</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </header>
    <div class="aw-body">
      <p class="text-muted mb-3"> {{this.TextStringsUtil.ModalDeleteComponentBtnTitle}} </p>
      <div class="row row-cols-1 row-cols-sm-2 g-3 py-2">
          <div class="col">

          </div>
      </div>
    </div>
  </div>
</dialog>
